$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

$brand-primary:         #88BA42 !default; //darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;
$link-color:			#303030;

/* $font-family-sans-serif:  Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$font-size-base:          12px !default;

$font-size-h1:            floor(($font-size-base * 1.8)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 1.3)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px
 */

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$footer-height: 60px;
$listitem-bg-odd: #f5f5f5;
$listitem-bg-even: transparent;
 
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Sticky footer requirements */
html {
  position: relative;
  min-height: 100%;
}

body {
  padding: 0;
  /* Sticky footer size */
  margin-bottom: $footer-height;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
  background-color: #f5f5f5;
}

/* Custom page header */
.header {

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container >, .container-fluid > {
	div.ng-scope > {
		/** Drop top margin for headings */
		h1, h2, h3, h4, h5, h6 {
			margin-top: 0;
		}
	}
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

.form-group {
  margin-bottom: 5px;
}

.text-clip {
	@include text-overflow;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    /* max-width: 730px; */
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 16px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.adm-st{
  background: white;
  margin-top: 55px;
  padding: 20px;
}

.m-mod{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

.up-btn> div{
  padding: 5px;
}

.us-inf> div{
  padding-top: 10px;
}

.main-col > h1:first-child {
  background: none repeat scroll 0 0 #88BA42;
  color: #FFF;
  font-size: 24px;
  font-weight: bold;
  margin: -10px -10px 10px;
  padding: 10px;
}
