<div ng-controller="AdminCtrl">

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="text-center">
          <h3>Temporary panel for tokens control </h3>
        </div>
        <div class="col-sm-offset-2">
          <p>accessToken = {{accessToken}}</p>

          <p>refreshToken = {{refreshToken}}</p>
        </div>
        <div class="text-center">
          <input class="btn btn-info" type="button" value="say my name" ng-click="getMe()">
          <input class="btn btn-danger" type="button" value="drop authorization" ng-click="dropAuthorization()">
          <input class="btn btn-warning" type="button" value="refresh token" ng-click="refreshAccessToken()">
          <input class="btn btn-default" type="button" value="go lo login" ng-click="goToLogin()">
        </div>

      </div>
    </div>

</div>
