<div ng-controller="CacheCtrl">

  <div class="main-col clearfix">
    <h1>Application Cache Overview</h1>
  </div>
  <div>

    <input type="button" class="btn btn-default" value="clear Tiles Cache" ng-click="clearTilesCache()">
    <input type="button" class="btn btn-default" value="clear All Cache" ng-click="clearAllCaches()">

    <ul>
      <li class="repeat" ng-repeat="cacheMap in cacheMaps">
        <h4>
          {{cacheMap.serviceName}} {{cacheMap.name}}
        </h4>
        <table width="80%">
          <tr>
            <td width="70%">
              Owned cache entries
            </td>
            <td>
              {{cacheMap.mapStats.ownedEntryCount}}
            </td>
          </tr>
          <tr>
            <td>
              Locked cache entries
            </td>
            <td>
              {{cacheMap.mapStats.lockedEntryCount}}
            </td>
          </tr>
          <tr>
            <td>
              Number of writes to cache
            </td>
            <td>
              {{cacheMap.mapStats.putOperationCount}}
            </td>
          </tr>
          <tr>
            <td>
              Number of cache hits
            </td>
            <td>
              {{cacheMap.mapStats.hits}}
            </td>
          </tr>

        </table>
      </li>
    </ul>

  </div>

</div>
