<div ng-controller="HomeCtrl">
</div>
<div class="jumbotron">
  <h1>Genesys PGR Toolkit</h1>

  <h3>A thing to do stuff on Genesys PGR server from your device.</h3>

  <div style="color: #449D44" ng-if="isAlresdyAutorized">(you have already authorized)</div>
  <div ng-if="!isAlresdyAutorized">
    <div style="color: #C9302C">(you have not logged <a href="#/login"> login</a>)</div>
  </div>
</div>



