<div ng-controller="AdminCtrl">


  <div class="jumbotron">
    <div>
      <h3>
        Login to the Genesys
      </h3>

      <p/>
      <input class="btn btn-success" type="button" value="get Accesses" ng-click="authorize()"/>
    </div>

  </div>
</div>
