<div ng-controller="OauthClientDetailsCtrl">

  <div class="main-col clearfix">
    <h1>OAuth2 Client:</h1>
  </div>

    <div class="row">
      <div class="col-md-4 col-md-offset-8">
        <button type="button" class="close" ng-click="editInfo()">EDIT INFO</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-8">
        <button type="button" class="close" ng-click="editPermissions()">EDIT PERMISSIONS</button>
      </div>
    </div>

  <div class="container us-inf">
    <div class="row">
      <div class="col-md-3">Client</div>
      <div class="col-md-7 col-md-offset-1">{{clientData.title}}</div>
    </div>
    <div class="row">
      <div class="col-md-3">Description</div>
      <div class="col-md-7 col-md-offset-1">{{clientData.description}}</div>
    </div>
    <div class="row">
      <div class="col-md-3">Client ID</div>
      <div class="col-md-7 col-md-offset-1">{{clientData.clientId}}</div>
    </div>
    <div class="row">
      <div class="col-md-3">Client Secret</div>
      <div class="col-md-7 col-md-offset-1">{{clientData.clientSecret}}</div>
    </div>
  </div>

  <h3 style="margin-top:30px">List of tokens:</h3>
  <button type="button" class="btn btn-link" ng-click="removeAllAccessesTokens(clientData.clientId)">Remove all</button>
  <table class="table table-striped">
    <tbody>
    <tr class="repeat" ng-repeat="entry in accessTokens">
      <td>
       {{entry.expiration | date:'medium'}}
      </td>
      <td>
        {{user.name}}
      </td>
      <td>
        {{user.email}}
      </td>
      <td>
        <button class="btn btn-link" ng-click="removeAccessesToken(entry.id)">remove</button>
      </td>
    </tr>

    </tbody>
  </table>

  <h3 style="margin-top:30px">List of refresh tokens: </h3>
  <button type="button" class="btn btn-link" ng-click="removeAllRefreshTokens(clientData.clientId)">Remove all</button>
  <table class="table table-striped">
    <tbody>
    <tr class="repeat" ng-repeat="entry in refreshTokens">
      <td>
        {{entry.expiration | date:'medium'}}
      </td>
      <td>
        {{user.name}}
      </td>
      <td>
        {{user.email}}
      </td>
      <td>
        <button class="btn btn-link" ng-click="removeRefreshToken(entry.id)">remove</button>
      </td>
    </tr>

    </tbody>
  </table>

</div>
