<div ng-controller="OauthClientEditCtrl">

  <div class="main-col clearfix">
    <h1>OAuth2 Client:</h1>
  </div>

  <form class="form-horizontal" role="form">

    <div class="form-group" ng-if="clientData.id">
      <label class="col-sm-3 control-label">Client ID</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" ng-model="clientData.clientId" disabled>
      </div>
    </div>

    <div class="form-group" ng-if="clientData.id">
      <label class="col-sm-3 control-label">Client Secret</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" ng-model="clientData.clientSecret">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Client title</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" ng-model="clientData.title">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Description</label>
      <div class="col-sm-8">
        <textarea class="form-control" rows="5" ng-model="clientData.description"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Client redirect URI</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" ng-model="clientData.redirectUris">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Access token validity</label>

      <div class="col-sm-8">
        <input class="form-control" type="text" ng-model="clientData.accessTokenValiditySeconds" disabled>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Refresh token validity</label>

      <div class="col-sm-8">
        <input class="form-control" type="text" ng-model="clientData.refreshTokenValiditySeconds" disabled>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-8">
        <button type="button" class="btn btn-success" ng-click="saveClient()">Save</button>
        <button type="button" class="btn btn-danger" ng-click="deleteClient()" ng-if="clientData.id">Delete</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
      </div>

    </div>


  </form>

</div>
