<div ng-controller="OauthClientPermissionsCtrl">

  <div class="main-col clearfix">
    <h1>Client permissions</h1>
  </div>
  <h3>
    {{data.aclObjectIdentity.aclClass.aclClass}} {{data.aclObjectIdentity.objectIdIdentity}}
  </h3>
  <h4>
    Object Owner : <b>{{ownerEmail}}</b>
  </h4>

  <table class="table table-striped">
    <thead>
    <tr>
      <td>
        Security Identity
      </td>
      <td class="repeat" ng-repeat="entry in data.aclPermissions">
        {{permissionMask[entry.mask]}}
      </td>
    </tr>
    </thead>
    <tbody>

    <tr class="repeat" ng-repeat="entry in data.aclSids">
      <td>{{getMail(entry.sid)}}</td>

      <td class="repeat" ng-repeat="permission in data.aclPermissions" >
        <input type="checkbox"  ng-model="checkboxes[$parent.$index][$index]" ng-disabled="!editMode">
      </td>
      <td>
        <button type="button" class="btn btn-success" ng-click="edit()" ng-if="!editMode">Edit</button>
        <button type="button" class="btn btn-success" ng-click="save($index)" ng-if="editMode">Save</button>
        <button type="button" class="btn btn-default" ng-click="cancel()" ng-if="editMode">Cancel</button>

      </td>
    </tr>

    <tr>
      <td>
        <input type="text" class="form-control" ng-model="newPermission.sid">
      </td>

      <td class="repeat" ng-repeat="permission in data.aclPermissions" >
        <input type="checkbox"  ng-model="newPermission.checkbox[$index]" >
      </td>
      <td>
        <button type="button" class="btn btn-success" ng-click="add()" >Add</button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    </tbody>
  </table>

  <button type="button" class="btn btn-default" ng-click="goBack()">Cancel</button>



</div>
