<div ng-controller="OauthClientsCtrl">

  <div class="main-col clearfix">
    <h1>List of oauth clients</h1>
  </div>

  <div class="container us-inf">
    <div class="row">
      <div class="col-md-1 col-md-offset-10">
        <button type="button" class="close" ng-click="addClient()">ADD</button>
      </div>
    </div>
  </div>
  <table class="table table-striped">
    <tbody>
    <tr class="repeat" ng-repeat="entry in clients">
      <td>
        <button class="btn btn-link" ng-click="selectClient(entry.id)">{{entry.title}}</button>
      </td>
      <td>
        {{entry.clientId}}
      </td>
    </tr>
    </tbody>
  </table>

</div>








