<div ng-controller="UsersCtrl">

  <div class="main-col clearfix" >
    <h1>Registered user accounts </h1>
  </div>

  <table class="table table-striped">
    <tbody>
    <tr class="repeat" ng-repeat="entry in content">
      <td>
        <button class="btn btn-link" ng-click="selectUser(entry.id)">{{entry.name}}</button>
      </td>
      <td>
        {{entry.email}}
      </td>
      <td>
        {{entry.roles}}
      </td>
    </tr>
    </tbody>
  </table>

</div>




