<div ng-controller="UserDetailedCtrl">

  <div class="main-col clearfix" typeof="">
    <h1>User profile</h1>
  </div>

  <div class="container us-inf">

    <div class="row">
      <div class="col-md-1 col-md-offset-10">
        <button type="button" class="close" ng-click="edit()">EDIT</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">Full Name</div>
      <div class="col-md-7 col-md-offset-1">{{userData.name}}</div>
    </div>
    <div class="row">
      <div class="col-md-3">E-mail Address</div>
      <div class="col-md-7 col-md-offset-1">{{userData.email}}</div>
    </div>
    <div class="row">
      <div class="col-md-3">Account Status</div>
      <div class="col-md-7 col-md-offset-1"></div>
    </div>
    <div class="row">
      <div class="col-md-3">User roles</div>
      <div class="col-md-7 col-md-offset-1">{{userData.roles}}</div>
    </div>
    <p>

    <div class="form-group">
      <button type="button" class="btn " ng-click="lock()">Lock</button>
      <button type="button" class="btn " ng-click="unlock()">Unlock</button>
      <button type="button" class="btn " ng-click="disable()">Disable</button>
      <button type="button" class="btn " ng-click="enable()">Enable</button>
    </div>

    <div class="form-group">
      <button type="button" class="btn btn-default" disabled>Issued tokens</button>
      <button type="button" class="btn btn-default" ng-click="send()">Send validation email</button>
      <button type="button" class="btn btn-default" ng-click="addRoleVettedUser()" ng-disabled="isVetted" >Vetted User</button>
      <button type="button" class="btn btn-default" ng-click="getWidget()">Get Widget</button>
    </div>

  </div>

    <h4 ng-if="userTeams.length!=0">User's Teams</h4>
    <table class="table table-striped">
      <tbody>
      <tr class="repeat" ng-repeat="entry in userTeams">
        <td>
          <a ng-click="">{{entry.name}}</a>
        </td>
        <td>
          {{entry.uuid}}
        </td>
      </tr>
      </tbody>
    </table>

  <div ng-if="userTeams.length==0">
    <h4>
      Create a new team:
    </h4>
    <div class="row">
      <div class="col-md-2">Team name</div>
      <div class="col-md-3">
        <input type="text" ng-model="newTeam.name" disabled>
      </div>
      <div class="col-md-1">
        <button type="button" class="btn-success btn-md" disabled>Create</button>
      </div>
    </div>

  </div>
</div>
