<div ng-controller="UserEditCtrl">

  <div class="main-col clearfix" typeof="">
    <h1>Update your profile </h1>
  </div>

  <div>

    <div class="container us-inf">
      <div class="row">
        <div class="col-md-3">Your full name</div>
        <div class="col-md-7 ">
          <input type="text" name="userName" ng-model="userData.name" required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">E-mail</div>
        <div class="col-md-7 ">
          <input type="text" name="email" ng-model="userData.email" required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">Password</div>
        <div class="col-md-7 ">
          <input type="text" name="pwd1" ng-model="userData.pwd1" required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">Repeat password</div>
        <div class="col-md-7 ">
          <input type="text" name="pwd2" ng-model="userData.pwd2" required>
        </div>
      </div>

      <div class="form-group col-md-offset-3">
        <button type="button" class="btn btn-success " ng-click="userSave()">Save</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
      </div>

      <form role="form">
        <div class="repeat" ng-repeat="role in userRoles">
          <div>
            <label><input type="checkbox"  ng-checked="userData.roles.indexOf(role) != -1" ng-click="toggleCheck(role)"> {{role}}</label>
          </div>
        </div>
      </form>

      <div class="form-group col-md-offset-3">
        <button type="button" class="btn btn-success" ng-click="userSaveRoles()">Save</button>
      </div>

    </div>
  </div>



