<div ng-controller="WidgetCtrl">

  <div class="main-col clearfix m-mod">
    <h1>Your Plugin Code </h1>
  </div>

  <div style="width: 100%">

    <div style="padding-top: 0" class="modal-body">
      <h4>Client Id:</h4>
      <select class="form-control" ng-model="client" ng-options="item as item.clientId for item in clients" ng-change="clientSelect()"></select>
      <h4 ng-if="client">Script:</h4>
      <textarea class="form-control" rows="10" id="comment" ng-if="client" >{{widget.script}}</textarea>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success"  ng-click="closeMV()">Apply</button>
    </div>

  </div>



</div>
